body{
    font-family: sans-serif;
    width: 1200px;
}
.header{
    /*background-color: rgb(255,201,251);*/
}

.bar-sup{
    display: flex;
    align-items: center;
    height: 90px;
}

.main-title{
    width: 50%;
    color: rgb(50,103,204);
}
.cont-menu{
    width: 50%; 
}

.menu-pp{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
}

.menu-pp__item > a{
    text-decoration: none;
}

.menu-pp__item > a:hover{
    font-size: 20px;
    text-decoration: underline;
}

.baner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.baner__imagen{

}

.baner__titulo{
    position: absolute;
    color:white;
}


.servicios{
    
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 40px;

}

.servicios__imagen{
    
}

.servicios__conte{
   background-color: azure;
    margin-left: 20px;
    border: 2px solid black;;
    border-radius: 9px;
    border-color: black;
}


.noticias{
    background-color: chartreuse;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 20px;
    background-color: white;

}
.noticias-n1{
    width: 50%;

}

.noticias-n2{
    width: 50%; 
}

.noticia{
    display: flex;
    margin-top: 20px;    
}

.miembros{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.miembros-uno{
    border: 2px solid black;;
    border-radius: 9px;
    border-color: black;
    background-color: azure;
    justify-content: center;
    text-align:center;
}

.miembros-titulo{
    color: rgb(50,103,204);
}

footer{
    width:auto;
    background: #202020;
    color: white;
    padding: 70px;

    
   
    
}
.container-body{display: flex;
    justify-content: space-between;
}

.colum1{max-width:400px;
}

.colum1 h1{font-size: 22px;
}

.colum1 p{font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    
    max-width:400px;
}
.colum2 h1{font-size: 22px;
}
.colum2 .row{margin-top: 12px;
    display:flex;

}
.row label{margin-top: 10px;
    margin-left:20px;
    color: #C7C7C7;

}
a {font-size:20px;
text-decoration:none;
display: inline-block;
background: #fff;
padding:10px 20px;
}

