body{
    font-family: sans-serif;
    width: 1200px;
}

.header{
    background-color: aqua;
}

.servicios{
    background-color: azure;
}

.noticias{
    background-color: chartreuse;
}

.miembros{
    background-color: burlywood;
}

.footer{
    background-color: navy;
}